.slider {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.image {
  border-radius: 15px;
  margin-top: 1rem;
  width: 200px;
  height: 330px;
}
.title {
  font-size: xx-large;
  color: #002b5b;
  font-family: "Bebas Neue", cursive;
}
